@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* ||RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    font-family: inherit;
}

/* || VARIABLES */

:root {
    /* FONTS */
    --FF: "Nunito Sans", sans-serif;

    /* COLOR */
    --FONT-COLOR: #202124;
    --BODY-BGCOLOR: #784BA0;
    --BODY-BGIMAGE: linear-gradient(225deg, #FF3CAC, #784BA0, #2B86C5);
    --BUTTON-BGIMAGE: linear-gradient(225deg, #FF3CAC, #784BA0, #2B86C5);
    --BUTTON-BGIMAGE-HOVER: linear-gradient(225deg, hsl(326, 100%, 70%), hsl(272, 36%, 54%), hsl(205, 64%, 55%));
    --FORM-BGCOLOR: #f0f0f0;
    --INPUT-BGCOLOR: #fafafa;
    --HIGHLIGHT-COLOR: #784BA0;
    --ICONS-COLOR: #999;
    --LINK-COLOR: hsl(205, 64%, 40%);

    /* BORDERS */
    --BORDER-RADIUS: 8px;
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

/* || GENERAL STYLES */

html {
    font-family: var(--FF);
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--BODY-BGCOLOR);
    background-image: var(--BODY-BGIMAGE);
}

ul {
    list-style-type: none;
}

/* || FORMS */

.container {
    position: relative;
    max-width: 430px;
    max-height: 533px;
    height: 100%;
    background-color: transparent;
    border-radius: var(--BORDER-RADIUS);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 533px;
    width: 200%;
    transition: height 0.3s ease-in-out;
}

.container .form {
    height: 533px;
    width: 50%;
    padding: 28px;
    background-color: var(--FORM-BGCOLOR);
    transition: margin-left 0.3s ease-in-out;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.3s ease-in-out, opacity 0.1s ease-in-out;
}

.container .sign-up {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.container.active .sign-up {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.container.active .forms {
    height: 533px;
}

.container .form .title {
    position: relative;
    margin-top: 16px;
    font-size: 1.75rem;
    font-weight: 600;
}

/* || INPUT */

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 16px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 36px;
    border: none;
    outline: none;
    font-size: 1rem;
    border: 1px solid #bbb;
    border-radius: var(--BORDER-RADIUS);
    background-color: var(--INPUT-BGCOLOR);
    transition: all 0.3s ease-in-out;
}

.input-field input:is(:focus-visible, :valid) {
    border-color: var(--HIGHLIGHT-COLOR);
}

.input-field i {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    color: var(--ICONS-COLOR);
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.input-field input:is(:focus-visible, :valid)~i {
    color: var(--FONT-COLOR);
}

.input-field i.icon {
    left: 3%;
}

.input-field i.showHidePass {
    right: 0;
    cursor: pointer;
    padding: 8px;
}

/* || TERMS AND CONDITIONS */

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.checkbox-content input {
    margin: 0 4px 0px 4px;
    vertical-align: middle;
    accent-color: var(--HIGHLIGHT-COLOR);
}

.form label {
    vertical-align: middle;
}

.form .text {
    color: var(--FONT-COLOR);
    font-size: 0.75rem;
}

.form a.text {
    color: hsl(205, 64%, 40%);
    text-decoration: none;
}

.form a:hover,
.form a:focus-visible {
    text-decoration: underline;
}

.tacbox {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 0.75rem;
    max-width: 800px;
}

.tacbox .text {
    color: var(--FONT-COLOR);
}

.tacbox a.text {
    color: var(--LINK-COLOR);
    text-decoration: none;
}

.tacbox a:hover,
.tacbox a:focus-visible {
    text-decoration: underline;
}

.tac-input {
    height: 1rem;
    width: 1rem;
    margin: 0 8px 0 8px;
    accent-color: var(--HIGHLIGHT-COLOR);
}

/* || SUBMIT BUTTON */

.input-field button {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 36px;
    font-size: 1rem;
}

.form .button {
    margin-top: 16px;
}

.form .button button {
    border: none;
    color: #f2f2f2;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: var(--BORDER-RADIUS);
    background-image: var(--BUTTON-BGIMAGE);
    cursor: pointer;
    transition: background-image 0.3s ease-in-out;
}

.button button:hover,
.button button:focus-visible {
    background-image: var(--BUTTON-BGIMAGE-HOVER);
}

.button button:active {
    filter: brightness(80%);
}

.form .login-sign-up {
    margin-top: 16px;
    text-align: center;
}

/* || LOGIN OPTIONS */
.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 40px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'or login with';
    position: absolute;
    padding: 0 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--FORM-BGCOLOR);
    color: #8b8b8b;
    font-size: 0.8rem;
}

.login-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 32px;
}

.lo-button {
    text-align: center;
    padding: 4px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    cursor: pointer;
}

.fa-brands {
    font-size: 2.5rem;
}

.fa-brands:hover,
.fa-brands:focus-visible {
    opacity: 0.7;
}

.fa-brands:active {
    filter: brightness(80%);
}

/* FACEBOOK ICON */

.fa-facebook {
    color: #1877F2;
}

/* GOOGLE ICON */

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

/* || MEDIA QUERY */

@media screen and (max-width: 480.98px) {
    .container {
        margin: 0 16px 0 16px;
    }
}